
  /*.container{
        margin: 0 10px ;
        background-color: #C9D8EC;
        min-height: 85vh;
        color: black;
        border-radius: 20px;
    }
    .prj-name{
        margin: 20px;
    }
    .signup{
        font-weight: 900;
        margin: 0;
        padding: 20px 0 0 10px;
        color: #5F88BF;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
    }
    .forms{
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 10%
    }
    .forms b{
        font-size: 16px;
    }
    .form_label{
        text-align: left;
        margin: 3px;
    }
    .forms input[type="text"],
    .forms input[type="password"] {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 7px;
        font-size: 16px;
        background-color: white;
        color: black;
    }
    .forms button{
        padding: 10px;
        margin: 40px 0px;
        border-radius: 25px;
        font-size: 16px;
        background-color: #5F88BF;
        color: #C9D8EC;
        cursor: pointer;
    }
    #guest, #signup, #login{
        padding: 3px;
        font-size: 16px;
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }*/